@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #224941 url('./img/bg.jpg') no-repeat center center/cover;
    opacity: .8;
    color: #fff;
    font-family: 'Nanum Myeongjo', serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 1.2em;
}

h1{
    font-size: 4em;
    margin: 0 auto;
    
}
h2 {
    font-size: 1.6em;
    margin: 0 auto;
    text-align: center;
    color: #01202e;
    font-style: inherit;
    
}
audio {
    width: 8em;
    border-radius: 50%;
    margin-left: 24em;
    opacity: .8;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
   
}
.top-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.top-container audio{
    margin: 0 auto;
    margin-bottom: .8em;
}
.gradient-circle{
   background: conic-gradient(
       #5ed0df 0%,
       #4ca493 38%,
       #fff 40%,
       #fff 60%,
       #294c50 62%,
       #08668b 1%
   ); 
   height: 320px;
   width: 320px;
   top: -10px;
   left: -10px;
   z-index: -2;
   border-radius: 50%;
   position: absolute;
}

.circle{
    background-color: #033952;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    

}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    display: block;

}

.container.grow {
    animation: grow 3s linear forwards;
}
.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes grow {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.2)
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2)
    }

    to {
        transform: scale(1)
    }
}
